{% extends 'base.html' %}

{% block titulo %}<title>Cadastro de Vaga</title>{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container d-flex w-100" width="100">
    <form method="post" class="w-100">
        {% csrf_token %}
        <h2 class="mt-5 mb-4">Dados da Vaga</h2>
        <!-- {{ form.as_p }} -->
        <div class="form-group mt-3">
            <label for="titulo-vaga">Título da Vaga</label>
            {{form.titulo}}
        </div>
        <div class="form-group">
            <label for="descricao-vaga">Descrição da Vaga</label>
            {{form.descricao}}
        </div>
        <div class="form-group">
            <label for="requisitos-vaga">Requisitos da Vaga</label>
            {{form.requisitos}}
        </div>
        <div class="form-group">
            <label for="requisitos-vaga">Área</label>
            {{form.area}}
        </div>
        <div class="form-group">
            <label for="requisitos-vaga">Quantidade de Vagas</label>
            {{form.quantidade_vagas}}
        </div>
        <div class="form-group">
            <label for="requisitos-vaga">Encerramento das candidaturas</label>
            {{form.fim_candidaturas}}
        </div>
        <h2 class="mt-5 mb-4">Dados do Endereço</h2>
        <!-- {{ endereco_form.as_p }} -->
        <div class="form-group row">
            <div class="form-group col-6">
                <label for="logradouro">Logradouro</label>
                <input type="text" id="logradouro" name="logradouro" class="form-control" placeholder=" ">
            </div>
            <div class="form-group col-3">
                <label for="numero">Numero</label>
                <input type="text" id="numero" name="numero" class="form-control" placeholder=" ">
            </div>
            <div class="form-group col-3">
                <label for="complemento">Complemento</label>
                <input type="text" id="complemento" name="complemento" class="form-control" placeholder=" ">
            </div>
        </div>
        <div class="form-group row">
            <div class="form-group col-6">
                <label for="bairro">Bairro</label>
                <input type="text" id="bairro" name="bairro" class="form-control" placeholder=" ">
            </div>
            <div class="form-group col-6">
                <label for="cep">CEP</label>
                <input type="text" id="cep" name="cep" class="form-control" placeholder=" " required>
            </div>
        </div>
        <div class="form-group row">
            <div class="form-group col-6">
                <label for="cidade">Cidade</label>
                <input type="text" id="cidade" name="cidade" class="form-control" placeholder=" ">
            </div>
            <div class="form-group col-6">
                <label for="estado">Estado</label>
                <select name="estado" id="estado" class="form-control">
                    <option value="" disabled selected>Estado</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="ES">Espirito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>
            </div>
        </div>
        
        <button class="btn btn-block text-white mb-5" style="background-color: #5d7398;" type="submit">Cadastrar</button>
    </form>
    {{ form.errors }}
    {{ form_endereco.errors }}
</div>
{% endblock %}