{% extends 'base.html' %}

{% block content %}
    <h1>{{ vaga.titulo }}</h1>
    <p>{{ vaga.created_at }}</p>
    <p>{{ vaga.descricao }}</p>
    <p>{{ vaga.requisitos }}</p>
    <p>{{ vaga.endereco }}</p>
    {% if vaga.ong and vaga.ong.usuario_id == user.id %}
        <p>Preenchida: {{ vaga.preenchida }}</p>
        <a href="{% url 'edita-vaga' pk=vaga.id %}">Editar</a>
        <a href="{% url 'deletar-vaga' pk=vaga.id %}">Deletar</a>
    {% endif %}

    {% if user.is_authenticated and user.groups.all.0.id == 2 %}
        <form method="post" action="{% url 'candidatarse' pk=vaga.id %}">
            {% csrf_token %}
            <button type="submit">Candidatar-se</button>
        </form>
    {% endif %}
{% endblock %}