{% extends 'base.html' %}

{% block content %}
    <div class="card ml-3 mt-3" style="background-color: white;">
        {% now "Y-m-d" as hoje %}
        <h3 class="card-title ml-3 mt-3">Detalhes - Vaga {{ vaga.titulo }}</h3>
        <!-- <p>{{ vaga.created_at }}</p> --><br>
        <p class=" ml-3">Ong: <a href="{{ vaga.ong.get_absolute_url }}">{{ vaga.ong.nome_fantasia }}</a></p>
        <p class=" ml-3">Descrição: {{ vaga.descricao }}</p>
        <p class=" ml-3">Endereço da Vaga: {{ vaga.endereco }}</p>
        <p class=" ml-3">Requisitos da Vaga: {{ vaga.requisitos }}</p>
        <p class=" ml-3">Área: {{ vaga.area }}</p>
        <p class=" ml-3">Quantidade de Vagas: {{ vaga.quantidade_vagas }}</p>
        <p class=" ml-3">Fim das candidaturas: {{ vaga.fim_candidaturas }}</p>
        {% if vaga.ong and vaga.ong.usuario_id == user.id %}
            <p class=" ml-3">Preenchida: {{ vaga.preenchida }}</p>
            <p class=" ml-3">Quantidade de candidatos: {{ quantidade_candidatos }}</p>
            <p class=" ml-3">Vagas preenchidas: {{ qnt_vagas_preenchidas }}</p>
            <p class=" ml-3">Vagas restantes: {{ vagas_restantes }}</p>
            <a href="{% url 'edita-vaga' pk=vaga.id %}">Editar</a>
            <a href="{% url 'deletar-vaga' pk=vaga.id %}">Deletar</a>
            <form method="post" action="{% url 'preencher-vaga' vaga.id %}">
                {% csrf_token %}
                <button type="submit" {% if not candidatos_selecionados or vaga.preenchida %} disabled="true" {% endif %} >Preencher vaga</button>
            </form>
            {% if candidaturas %}
                {% for candidatura in candidaturas %}
                    <a href="{{ candidatura.voluntario.get_absolute_url }}">{{ candidatura.voluntario.nome_completo }}</a>
                    <p>{{ candidatura.status }}</p>
                    <form method="post" action="{% url 'aprovar-candidato' candidatura.id %}">
                        {% csrf_token %}
                        <button type="submit" {% if candidatura.status != 'Recusado' and candidatura.status != 'Pendente' or vagas_preenchidas %} disabled="true" {% endif %}>Aprovar</button>
                    </form>
                    <form method="post" action="{% url 'reprovar-candidato' candidatura.id %}">
                        {% csrf_token %}
                        <button type="submit" {% if candidatura.status != 'Aceito' and candidatura.status != 'Pendente' %} disabled="True" {% endif %}>Reprovar</button>
                    </form>
                    <hr>
                {% endfor %}
            {% endif %}
        {% endif %}

        {% if user.is_authenticated and user.groups.all.0.id == 2 and not is_candidato and not vaga.preenchida and vaga.fim_candidaturas|date:"Y-m-d" >= hoje %}
            <form method="post" action="{% url 'candidatarse' vaga.id %}">
                {% csrf_token %}
                <button class="btn btn-block text-white" style="background-color: #5d7398;" type="submit">Candidatar-se</button>
            </form>
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}