{% extends "base.html" %}

{% block titulo %}<title>{{ titulo }}</title>{% endblock %}

{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% block content %}
    <h1 class="display-1">{{ titulo }}</h1>
    {% if user.is_authenticated %}
        Oi {{ user.username }}!
        <p><a href="{% url 'password_change' %}">Alterar Senha</a></p>
    {% else %}
        <p>Você não está logado</p>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <p>Lista de vagas abertas no site WeOng</p>
    {% if vagas %}
    <ul>
        {% for v in vagas %}
            <li>
                <a href="{{ v.get_absolute_url }}">{{ v.titulo }}</a> - {{ v.created_at }}
                <p>{{ v.endereco }}</p>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Não há vagas abertas.</p>
    {% endif %}
{% endblock %}
