<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    
    <title>Verificar endereço de e-mail</title>

    <style>
        .format-font {
            font-family: 'Montserrat', sans-serif; 
        }
        .my-container {
            margin: 10px;
            padding: 10px;
            padding-top: 0px;
            justify-content: center;
            border-radius: 5px;
            border: 1px solid rgb(204, 203, 203);
        }
    </style>
</head>
<body>

    <div class="my-container">

        <div style="background-color: #81d4fa; border-radius: 15px;">
            <h1 class="format-font" style="text-align: center; padding: 2px; color:white;">
                Análise de Conta
            </h1>
        </div>

        <h2 class="format-font" style="text-align: center;">E-mail - Análise em andamento</h2> <hr style="background-color:  #81d4fa; width:100px">

        <div class="format-font" style="margin-top: 20px; line-height: 1.5;">
            <p style="text-align: center; font-weight: bold;">Olá!</p>
            Você recebeu esse e-mail porque você tentou realizar um cadastro na plataforma WeONG,
            Neste momento, sua conta está em análise, e caso suas informações sejam válidas, nossa equipe irá aprovar o seu cadastro e enviar um e-mail de confirmação.       
        </div>

    
        <p class="format-font" style="line-height: 1.5;">
            <br> Este e-mail foi gerado automaticamente. <br>Não responda esse e-mail. </b>
        </p>
        
    </div>
   
</body>
</html>